$bg-color: #0D192C;
$card-color: #15263F;
$paragraph-color: #8BACD9;

@font-face {
    font-family: "Outfit";
    src: url(fonts/Outfit/Outfit.ttf) format("truetype");
    font-display: fallback;
}

body {
    background-color: $bg-color;
    font-family: "Outfit", Arial, Helvetica, sans-serif;
}

.card {
    max-width: 350px;
    max-height: 596px;
    width: 75%;
    height: 80%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: $card-color;
    color: $paragraph-color;
    padding: 25px;
    border-radius: 15px;

    .card-image {
        img {
            width: 100%;
        }
    }
    
    .card-creator {
        img {
            width: 33px;
            height: 33px;
        }
    }
}

